<a href="https://colab.research.google.com/github/mochosan/google-colab-test/blob/master/titanic_var1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
import pandas as pd

#read data
uploaded_data = files.upload()

In [0]:
uploaded_test_data = files.upload()

In [0]:
pd.set_option('display.max_rows', 1000)

In [0]:
#read csv files
train_data = pd.read_csv('train.csv')

In [0]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [0]:
y_train = train_data['Survived']
y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [0]:
test_data = pd.read_csv('test.csv')
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

特徴量の数値化
  Name:不要
  Sex:male¬0,female¬1
  cabin:一旦削除（後に使うかも）
  embarked:一旦削除（〃）
  Survived:削除
  Ticket:削除
  Fare:del
  Embarked:del

In [0]:
#datadealing for train data
x_train = train_data
x_trian = x_train.drop('Survived', axis=1)
x_train = x_train.drop('Name', axis=1)
x_train = x_train.drop('Ticket', axis=1)
x_train = x_train.drop('Cabin', axis=1)
x_train = x_train.drop('Embarked', axis=1)
x_train = x_train.dropna()

x_train.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [0]:
x_train['Sex'], unique = pd.factorize(x_train['Sex'])
print(unique)
x_train.head()

Index(['male', 'female'], dtype='object')

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    0  22.0      1      0   7.2500
1            2         1       1    1  38.0      1      0  71.2833
2            3         1       3    1  26.0      0      0   7.9250
3            4         1       1    1  35.0      1      0  53.1000
4            5         0       3    0  35.0      0      0   8.0500

In [0]:
#datadealing for test data
x_test = test_data
x_test = x_test.drop('Name', axis=1)
x_test= x_test.drop('Ticket', axis=1)
x_test = x_test.drop('Cabin', axis=1)
x_test = x_test.drop('Embarked', axis=1)
x_test = x_test.dropna()

x_test.head(11)

    PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare
0           892       3    male  34.5      0      0   7.8292
1           893       3  female  47.0      1      0   7.0000
2           894       2    male  62.0      0      0   9.6875
3           895       3    male  27.0      0      0   8.6625
4           896       3  female  22.0      1      1  12.2875
5           897       3    male  14.0      0      0   9.2250
6           898       3  female  30.0      0      0   7.6292
7           899       2    male  26.0      1      1  29.0000
8           900       3  female  18.0      0      0   7.2292
9           901       3    male  21.0      2      0  24.1500
11          903       1    male  46.0      0      0  26.0000

In [0]:
for i in x_test.columns:
  print(i)
  if x_test[i] != 'male' and x_test['Sex'][i] != 'female':
    print(x_test['Sex'][i])

PassengerId

KeyError: ignored

In [0]:
x_test_label, unique = unique.get_indexer(x_test['Sex'])
x_test['Sex']  = x_test_label

ValueError: ignored